<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <title>
      <%=title%>
    </title>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand text-capitalize" href="/">task manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-capitalize">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">contact</a>
            </li>
            <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">login</a>
            </li>
            <% } %>
            <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/<%= user.id %>/account">account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/<%= user.id %>/tasks">tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/logout">logout</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <%-body%>
    <footer></footer>
    <script src="/js/bootstrap.bundle.min.js">
    </script>
  </body>
</html>
