<main>
  <%if (flashMessage.error) {%>
    <h4 class="py-4 text-center bg-danger text-white">
      <%=flashMessage.error%>
    </h4>
  <%}%>
  <%if (flashMessage.success) {%>
    <h4 class="py-4 text-center bg-success text-white">
      <%=flashMessage.success%>
    </h4>
  <%}%>
  <section class="py-4">
    <div class="container">
      <div class="row">
        home page
      </div>
    </div>
  </section>
</main>
