<main>
  <section class="my-5 container text-center">
    <h2 class="display-3">
      <%= status %>
    </h2>
    <p class="text-center">
      <%= message %>
    </p>
    <a class="my-4 btn btn-outline-dark" href="/">
      back home
    </a>
  </section>
</main>
